<?xml version="1.0" encoding="UTF-8"?>
<!--
  Plantilla PHPUnit. Activar tras: composer require --dev phpunit/phpunit:^11.5
  (requiere extensión zip de PHP o herramienta unzip en el PATH para instalar paquetes).
  Mientras tanto: php tests/smoke.php
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
